@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{ margin:0; padding:0; }
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{ display:block; }
table{ border-collapse:collapse; border-spacing:0; }
caption,th{ text-align:left; font-weight:normal; }
html,body,fieldset,img,iframe,abbr{ border:0;}
img{vertical-align:top;}
html{ overflow-x:hidden; }
i,cite,em,var,address,dfn{ font-style:normal; }
[hidefocus],summary{ outline:0; }
li{ list-style:none; }
h1,h2,h3,h4,h5,h6,small{ font-size:100%; }
sup,sub{ font-size:83%; }
pre,code,kbd,samp{ font-family:inherit; }
q:before,q:after{ content:none; }
textarea{ overflow:auto; resize:none; }
label,summary{ cursor:default; }
a,button{ cursor:pointer; }
h1,h2,h3,h4,h5,h6,em,strong,b{ font-weight:bold; }
del,ins,u,s,a,a:hover{ text-decoration:none; }
body,textarea,input,button,select,keygen,legend{ font:13px/1 arial,\5b8b\4f53; color:#333; outline:0; }
:focus { outline:0; }
/*备用样式表*/
.none { display:none; }
.wcb{ width:100%; height:30px; border:2px dashed #97CBE0; }
.hidden { visibility:hidden; }
.clear { width:100%; height:0; line-height:0; font-size:0; overflow:hidden; clear:both; display:block; _display:inline; }
.clearfix:after{clear: both;content: ".";display: block;height:0;visibility: hidden;}
.clearfix{ display: block; *zoom:1; }
.icon{display:inline-block;width: 32px;height: 32px;vertical-align:middle;background:url(../images/icon.png) no-repeat;}
/*css3扩展*/
body:before {content: ""; position: fixed; top: -10px; left: 0; z-index: 110; width: 100%; height: 10px;}
::-webkit-input-placeholder { color:#ccc;}
:-moz-placeholder {color:#ccc;}
::-moz-placeholder { color:#ccc;}
:-ms-input-placeholder { color:#ccc;}
/**布局开始**/
body {line-height:1;font-size: 13px;font-family: "Arial","Microsoft YaHei","\u5b8b\u4f53", Tahoma, Geneva, sans-serif;color:#333;}
p{line-height:1.75;}
a {color:#3b3b3b; text-decoration:none; transition:all 0.4s ease-in-out; }
a:hover { color:#095ab5; }
/*页面尺寸*/
.wrapper { width:100%; margin:0 auto;  }
.wrapper .inner {width: 990px;margin:0 auto;} /**页面全局宽度**/
/*headtop*/
#headtop{background: #666;}
#headtop .inner{}
.headtop .top-left{float: left;}
.headtop .top-right{float:right;}
/*head开始*/
#header {}
#header .inner{}
.header .sitelogo{float:left;margin-top: 25px;}
.header .sitetitle {display:inline-block;margin-top: 28px;margin-left:10px;font-size:32px;font-weight:bold;color:#fff;} /**站点名称**/
.header .head-left{float:left;display:inline-block;}
.header .head-main{float:left;margin-top:10px;}
.header .head-right{float:right;margin-top: 12px;width:200px;}
/*rale样式*/
.site-rale{}
.site-rale ul{}
.site-rale ul li.links{float:left;}
.site-rale ul li.links a{line-height: 35px;padding: 0 12px 0 12px;padding-left: 19px;font-size: 13px;color: #cad3d4;background:url(../images/icon_role.png) no-repeat;}
.site-rale ul li.links a:hover{color:#fff;}
.site-rale ul li.links.i1 a{background-position: 0px 0px;}
.site-rale ul li.links.i2 a{background-position: -90px 0px;}
.site-rale ul li.links.i3 a{background-position: -187px 0px;}
.site-rale ul li.links.i4 a{background-position: -269px 0px;}
/*lang样式*/
.site-lang{}
.site-lang ul{float:left;}
.site-lang ul li.links{float:left;}
.site-lang ul li.links a{line-height: 22px;font-size: 12px;color: #646464;}
.site-lang ul li.links a:before {content: "- ";}
.site-lang ul li.links a:hover{text-decoration: underline;}
/*默认主导航样式*/
#nav{}
#nav .inner{background: #2D3E50;}
#nav .inner .wp-panel{}/*导航*/
#nav .inner .wp-panel .wp-window{}
#nav .inner .wp-panel .navbg{position:absolute; z-index:-1;left:0;right:0;top:0;bottom:0; width:auto; height:100%;background:#fff;opacity:.7;filter:alpha(opacity=70);}
/*导航样式：后台绑定时也可以定义配置*/
.nav .wp-menu {margin:0 auto}
.nav .wp-menu .menu-item {display: inline-block; float: left; position: relative;}
.nav .wp-menu .menu-item.i1 { background:none;}
.nav .wp-menu .menu-item a > .menu-switch-arrow{ display:inline-block; width:20px; height:20px; background:url(../images/nav_j.png) no-repeat center center;vertical-align:middle; }
.nav .wp-menu .menu-item a.menu-link {display: block;width:99px;text-align: center;line-height: 40px;color: #FFFFFF;font-size: 14px;letter-spacing: 2px;}
.nav .wp-menu .menu-item.hover a.menu-link,
.nav .wp-menu .menu-item a.hover{background-color:#4A839A; text-decoration: none; }
.nav .sub-menu {display: none;position: absolute;left: 0;top: 40px;min-width: 100%;text-align:center;z-index: 100;background:#fff;}
.nav .sub-menu .sub-item { position: relative; white-space: nowrap; vertical-align: top; _zoom:1;}
.nav .sub-menu .sub-item a {display: block;color: #000;height: 40px;line-height: 40px;padding: 0 17px;font-size: 14px;background:none;}
.nav .sub-menu .sub-item.hover> a,
.nav .sub-menu .sub-item a:hover{ color: #fff; background-color:#1384e2; display: block; }
.nav .sub-menu .sub-menu { left: 100%; top:0px; z-index: 200; background:#fff;}
/**主页banner开始**/
#banner {}
#banner .inner {width:auto;max-width: 990px;text-align: center;position:relative;padding-top:10px;}
/**主体模块样式**/
#m-container {}
#m-container .inner {}
/**首页三列布局**/


/**标题栏新闻窗口**/
.post { margin-bottom:0px; }
.post .tt {display:inline-block;width:100%;border-bottom: 0px solid #000066;} /**标题栏**/
.post .tt .tit {display:inline-block;float:left;font-size: 16px;font-weight:normal;} /**标题字体**/
.post .tt .tit .title {}
.post .con { padding: 0; margin:0 auto; }
.post .more_btn {display:inline-block;*display:inline; *zoom:1; height: 40px;margin-top: 0;line-height: 40px;float: right;padding-right: 24px;}
.post .more_btn .more_text,.post .more_btn a {font-size:12px; cursor:pointer;} 
.post .more_btn a{color:#fff;font-family: "微软雅黑";} 
.post .more_btn a:hover{color:#990000;} 
/*标准标题*/
.post1 {}
.post1 .tt {}
.post1 .tt .tit {}
.post1 .tt .tit .title {display:inline-block;cursor:pointer;color: #000000;font-family: "微软雅黑", Arial, Helvetica, sans-serif;font-size: 16px;height: 36px;line-height: 36px;padding-left: 22px;}
/*带图标标题*/
.post2 { }
.post2 .tt { background:#20B7AD;}
.post2.post-32 .tt { background:#07577C;}
.post2 .tt .tit {}
.post2 .tt .tit .title {font-size: 16px;color: #fff;cursor:pointer;height: 40px;line-height: 40px;padding-left: 22px;}
.post2 .con {}
/**自定义新闻列表**/
.news_list { } /**标题图标**/
.news_list li.news span.news_title { float:left; }/*标题*/
.news_list li.news span.news_title img {vertical-align: middle;}
.news_list li.news span.news_meta {float:right;margin-left:2px;color: #fdfdfd;}/*属性*/
.news_list li.news .news_time,
.news_list li.news .news_time span{color: #000000;}/*发布时间*/
.news_list li.news .news_icon {display:inline-block;margin:0 auto; border:0px solid red;}
.news_list li.news .news_text {line-height:22px; color:#000000;}/*默认简介*/
.news_list li.news .news_bg {position:absolute;top:0px; left:0px;bottom:0px; right:0px; height:auto; }
.news_list li.news p {line-height:34px;}

/***********************************************************
 * 列表页
 */
/**首页三列布局**/
/**列表页**/
/*栏目图片*/
.l-banner{height: auto;background-position:center center;background-repeat:no-repeat;text-align:center;}
.wp-inner {width: 990px;margin: 0 auto;}
.l-banner img{display:block;height:100%;vertical-align:top;width:990px;}
/**主体列表页开始**/
#l-container {}
#l-container .inner {padding:25px 10px;}
/**主体文章页开始**/
#d-container {}
#d-container .inner {background:#fff;}

.col_menu {} 
.col_menu .l-qh{ margin-bottom:10px;}
.col_menu .col_menu_head {}/**位置栏目背景**/
.col_menu .col_menu_head h3.col_name {font-size: 18px;font-weight:normal;color:#fff;}/**位置栏目字体**/
.col_menu .col_menu_head h3.col_name .col_name_text { display:block; line-height:50px; padding:0px 5px 0px 30px;}/**栏目名称图标**/
.col_menu .col_menu_con{border-top: #2C3E50 5px solid;border-bottom: #2C3E50 5px solid;background: #FFF;}
/*栏目列表*/
.col_list{}
.col_list .wp_listcolumn { border-top:0px solid #2867A0; border-bottom:0px solid #fff; }
.col_list .wp_listcolumn .wp_column a {color:#646464;font-size: 12px;font-weight:bold;background:none;border-bottom: 0;border-top: 0;}
.col_list .wp_listcolumn .wp_column a .column-name:before {content: "- ";}
.wp_listcolumn .wp_column{border-bottom: #C8C8C8 1px solid;}
.col_list .wp_listcolumn .wp_column a .column-name{padding:0 10px;line-height:38px;height:38px;font-weight:bold;font-family: "微软雅黑";}
.col_list .wp_listcolumn .wp_column a:hover,
.col_list .wp_listcolumn .wp_column a.selected { color:#fff; background:#FF6850; } 
.col_list .wp_listcolumn .wp_column a.selected span.column-name{color: #fff;}
.col_list .wp_listcolumn .wp_subcolumn .wp_column a{ color:#454545;background:none; border-top:1px solid #fff; border-bottom:1px solid #bbb;}
.col_list .wp_listcolumn .wp_column.parent > a .column-name{font-weight:bold; color:#fff;}
.wp_column.column-1.parent > a.col_item_link {background: #ff6850;}
/*二级子栏目**/
.col_list .wp_listcolumn .wp_column .sub_list a {color:#333;border-top:1px solid #eee;margin-top:-1px;} 	
.col_list .wp_listcolumn .sub_list a .column-name {display:inline-block;line-height: 28px;padding: 5px 10px 5px 44px;cursor:pointer;}
.col_list .wp_listcolumn .sub_list a:hover,
.col_list .wp_listcolumn .wp_column a.selected {font-weight:bold; font-weight:bold;color:#0f429b;} 
/*三级子栏目**/
.col_list .wp_listcolumn .wp_column .sub_list .sub_list a{} 	
.col_list .wp_listcolumn .sub_list .sub_list a .column-name {padding: 5px 10px 5px 60px;cursor:pointer;}
.col_list .wp_listcolumn .sub_list .sub_list a :hover,
.col_list .wp_listcolumn .sub_list .sub_list a.selected {font-weight:bold; color:#0f429b;} 
/**栏目新闻**/
.col_news {width: 100%;min-height:500px;float:right;} 
.col_news_box{margin-left: 280px;}
.col_news_head {border-bottom: 1px solid #DBDBDB;}
.col_metas .col_title { display:inline-block; float:left; height: 30px; line-height: 30px;font-size: 18px;padding-top: 10px; letter-spacing: 2px;}  /**当前栏目**/
.col_metas .col_title h2 {display:inline-block;font-size: 18px;font-family:"Microsoft yahei";font-weight: normal;color: #0f429b;border-bottom: 3px solid #CBCBCB;}
.col_metas .col_path {display:inline-block;float:right;white-space:nowrap;height: 46px;line-height: 46px;color: #666;} /**当前位置**/
.col_metas .col_path a{color: #2F2F2F;}
.col_news_con { padding:5px 0px 10px 0px; margin:0 0px;}
.col_news_list { margin-top:7px;}
.col_news_list .wp_article_list .list_item {} /**栏目新闻列表**/
.col_news_list .wp_article_list .list_item .Article_Index {}  /**栏目新闻图标序号**/
.col_news_list .wp_entry,.col_news_list .wp_entry p { line-height:1.75; font-size:14px; color:#333;}
.col_news_list .wp_entry p { margin-bottom:10px;}
.col_news_list .wp_entry table{ margin-bottom:4px;}
.col_news_list .wp_entry img { max-width:680px; _width:expression(this.width > 680 ? "680px" : this.width); } /**列表页文章图片大小限制**/
/**文章页**/
.infobox {padding:20px 60px; margin:0 auto; width:auto;min-height:500px;}
.article {padding-top:10px;}
.article h1.arti_title {line-height: 36px;font-family: "Microsoft YaHei";font-size:22px;text-align:center;color: #000000;} /**文章标题**/
.article h2.arti_title {line-height: 34px;font-family: "Microsoft YaHei";font-size: 17px;text-align:center;color: #000000;} /**文章副标题**/
.article .arti_metas {padding:10px;text-align:center;/* border-top:1px solid #000000; */}
.article .arti_metas span { margin:0 5px; font-size:12px; color:#000000;}/**文章其他属性**/
.article .entry { margin:0 auto; overflow:hidden;margin-top:10px;} /**文章内容**/
.article .entry .read,.article .entry .read p { font-family: 微软雅黑;font-size: 14px;overflow-wrap: break-word;color:#333;letter-spacing: 1.5px;line-height: 1.75em;text-align: justify;}  /**阅读字体**/
.article .entry .read p { margin-bottom:10px;}
.article .entry .read img {margin:0 auto; max-width:690px; _width:expression(this.width > 940 ? "940px" : this.width); }   /**文章阅读部分图片大小限制**/
.article .entry .read table{margin:0 auto; border:none;}
/**页脚开始**/
#footer {background: #18267d;}
#footer .inner {padding:12px 0px;position:relative;}
#footer .inner .mod{}
#footer .inner .foot-left{float:left;padding:12px 0px;margin-top:10px;}
#footer .inner .foot-right{float:right;margin-top: 12px;}
#footer .inner p{font-size: 12px;line-height: 21px; font-weight:normal;text-align:left;color: #fff;}
#footer .inner p span { margin:0 3px; }
#footer .inner .copyright{}
#footer .inner .copyright span{}
#footer .inner .copyright a{color:#eee;}
/**************************************************************
 * 组件功能
 */
/*系统默认搜索*/
.wp_search{ display:inline-block;position:relative;padding-left:4px;border: 1px solid #d0d0d0;}
.wp_search #keyword{ width:160px!important;padding: 4px 0; border:none;height:20px; line-height:20px; background:transparent; color:#fff; }
.wp_search .search{width:32px;height: 30px;border:0px; background: #FFFFFF url(../images/sous.jpg) no-repeat center;cursor: pointer; vertical-align:top; }
/*自定义输入框*/
.searchbox{text-align:right;margin-top:5px;}
.wp-search {position: relative;border: 1px solid #787878;background: #fff;}
.wp-search form {display: block;}
.wp-search .search-input {margin-left:4px; margin-right: 40px;}
.wp-search .search-input input.search-title {width: 100%;height: 19px;padding: 1px 0;line-height: 19px;background: none;color: #333;font-size: 13px;border:0;outline: 0;font-family: "Microsoft YaHei";}
.wp-search .search-btn {width:21px;height: 21px;position: absolute;right: 0;top:0%;}
.wp-search .search-btn input.search-submit {width:21px;height: 21px;border:0;outline: 0;background: #7c7c7c url(../images/sous.jpg) no-repeat center;cursor: pointer;}
/* 分享二维码 */
.shares{text-align:center;}
.shares ul{width:auto; margin:0 auto;text-align: right;float:right;}
.shares li{float:left; margin:0 6px; position:relative;}
.shares li a{display:inline-block; width: 50px; height: 50px; border: 0px solid red; background:url('../images/share_icon.png') no-repeat; opacity:.6; filter:Alpha(opacity=60); vertical-align:top;}
.shares li a:hover{ opacity:1; filter:Alpha(opacity=100); }
.shares li.i1 a{background-position:0px 0px;}
.shares li.i2 a{background-position: -72px 0px;}
.shares li.i3 a{background-position: -144px 0px;}
.shares li span{display:block; line-height:22px; font-size:12px; color: #D0D4EA;text-align:center;}
.shares li .con{display:none; position:absolute; bottom: 80px; left:50%;z-index:100; margin-left: -50px; width:100px;}
.shares li .con img{ width: 90px; height:90px; vertical-align:top; background:#fff;}
/**友情链接**/
.botlinks .links-wrap {position: relative;float: left;display: inline-block; margin:4px 10px; width: 150px; line-height: 32px; background: #fff;border:1px solid #d0d0d0;}
.botlinks .links-wrap a.links-arrow {display: block; height: 32px; line-height: 32px; padding: 0 25px 0 10px; color:#a1a1a1; background: url(../images/arrow.png) no-repeat right top;}
.botlinks .links-wrap a.links-arrow:hover,
.botlinks .wrap-open a.links-arrow { color: #333; background-position: right bottom; cursor: pointer;}
.botlinks .links-wrap .link-items {display: none; position: absolute; left: 0; bottom: 33px; width: auto; min-width:180px; height:auto; max-height: 300px; overflow: auto; overflow-x:hidden;background: #f5f5f5;}
.botlinks .links-wrap .link-items a { display: block; line-height: 24px; padding: 5px 0; color: #444;}
.botlinks .links-wrap .link-items a span { display:block; margin:0 6px; white-space:nowrap;}
.botlinks .links-wrap .link-items a:hover { color: #fff; background: #0f429b; cursor: pointer;}/**链接样式**/
/*列表页*/
/*banner*/
.mbanner .focus .focus-title-bar {bottom:40px;left: 40px;margin-left:0px;}
.mbanner .focus .focus-title-bg {background-color: #000;opacity: 0.4;filter:alpha(opacity=60);}

.mbanner .focus .focus-pagination {position:absolute;right: 14px;bottom: 14px;margin-right: 0px;z-index:60;}
.mbanner .focus .focus-page { display:inline-block; width:9px; height:9px;  margin-right:6px;background:#fff;}
.mbanner .focus .focus-page-active {width:18px;background: #fff;opacity:1; filter:Alpha(opacity=100);}

.mbanner .focus .focus-navigation {width:41px; height:41px;opacity: 1; filter:alpha(opacity=100); background:url(../images/yuan.png) no-repeat; text-indent:-999em;}
.mbanner .focus .focus-navigation:hover {opacity: 1; filter:alpha(opacity=100);}
.mbanner .focus .focus-navigation:active {opacity: 1; filter:alpha(opacity=100);}
.mbanner .focus .focus-prev { left:14px;}
.mbanner .focus .focus-next { right:14px;background-position:right top}

.post-11 .news_imgs {position: relative;height: 120px;overflow: hidden;}
.post-21 .news_imgs {position: relative;height: 120px;overflow: hidden;}
.ad-s .news_imgs {position: relative;height: 180px;overflow: hidden;}
.post-31 .news_imgs {position: relative;height: 120px;overflow: hidden;}
.post-32 .news_imgs {position: relative;height: 140px;overflow: hidden;}

.nw .post-12 .news_title a {color: #fff;}
.post-12 .news_list li.news span.news_title {width: 79%;text-overflow: ellipsis;white-space:nowrap;overflow: hidden;color: #fff;}

.news-list-hn ul.wp_paging li {width: auto;background: #fff;}
.wp_paging{float:none;}
.footer p {line-height: 34px;}

.c-news .news_wz {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
}
.c-news .news_con .news_title a {
    padding: 10px;
    line-height: 20px;
    font-family: "微软雅黑";
    font-weight: bold;
    left: 0;
    color: #FFFFFF;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    width: 92%;
}
.c-news .news_box {position: relative;}
.c-news-1 li.news, .c-news-2 li.news {padding-bottom: 10px;}
.c-news-3 .news_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 48px;
}
.c-news-3 .news_title a {
    color: #2C3E50;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: 24px;
    font-family: "微软雅黑";
}
.c-news-3 .news_list li.news .news_text {
    height: 100px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}
.c-news-3 li {border-bottom: #C8C8C8 1px solid;padding: 15px 0;}
.c-news .news_text a {
    font-family: "微软雅黑";
    line-height: 20px;
    color: #646464;
}
.c-news-3 .news_list li.news .news_text {
    font-family: "微软雅黑";
    line-height: 20px;
    color: #646464;
}
.nw .news-list-hn .news_title {
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "微软雅黑";
    letter-spacing: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #C8C8C8;
}
.news-list-hn .news_list li.news .news_text {
    line-height: 22px;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 66px;
}
.nw .news-list-hn .news_text {line-height: 20px;font-size: 12px;font-family: "微软雅黑";}
.nw .news-list-hn .news_text a {color: #525252;}

.list .news-list .news_box {position: relative;}
.list .news-list .news_wz {position: absolute;top: 0;left: 0;right: 0;height: 40px;background-color: rgba(0,0,0,0.6);width: 100%;}
.list .news-list .news_con .news_title a {text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 94.5%;}
.list .news-list .news_con .news_title a {padding: 0 10px;font-family: "微软雅黑";font-weight: bold;height: 40px;line-height: 40px;color: #FFF;font-size: 14px;position: absolute;left: 0;top: 0;}
.list .news-list ul.wp_paging li span {width: auto;height: auto;padding-bottom: 0;}
.list .news-list ul.wp_paging li {width: auto;height: auto;}
.list .news_list li.news .news_text {font-family: "微软雅黑";line-height: 20px;height:80px;text-indent: 2em;color: #646464;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;    overflow: hidden;text-overflow: ellipsis;}
.list .news-list .news_imgs {padding-bottom: 10px;}
.list .news-list ul li {padding-bottom: 0;}
.wp_entry {width: 100%;line-height: 24px !important;font-size: 12px;color: #646464;overflow: hidden;font-family: "微软雅黑";}
.wp_entry p{text-indent: 2em;}
.list .nb-r .news_list li.news .news_text{padding-top:10px;}

.t-list .news_imgs {float: left;padding-right: 20px;}
.t-list .news_title {padding-top: 20px;font-weight: bold;width: 73px;float: right;overflow: hidden;text-align: left;height: 30px;line-height: 30px;font-family: "微软雅黑";}
.t-list .news_title a {color: #646464;}
.szdw .t-list .tt .tit .title {font-size: 18px;height: 40px;overflow: hidden;letter-spacing: 2px;font-weight: 600;line-height:40px;}
.szdw .t-list .tt {height: 40px;}

.sxsj .news-list .content { padding: 10px 0;}

.wp_gallery .wp_gallery_list .wp_gallery_list_wrap ul li {background-color: #FFFFFF;border: #999 1px solid;}
.wp_gallery .wp_gallery_list .wp_gallery_list_wrap ul li.hover {border-color: #FF0000;}
.wp_gallery .wp_gallery_list .wp_gallery_list_wrap ul li a {width: 145px;height: 145px;}
.wp_gallery .wp_gallery_list .wp_gallery_list_wrap {height: 150px;}
.wp_gallery .wp_gallery_list .wp_gallery_list_arrow{height:150px;}
em.wp_gallery_title {display: none;}
.wp_gallery .wp_gallery_head .wp_gallery_meta {display: none;}
.wp_gallery .wp_gallery_tool {display: none;}
.wp_gallery .wp_gallery_prev:hover span, .wp_gallery .wp_gallery_next:hover span{
    display: none !important;}
.cgzs .nb-body h2 {
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    height: 30px;
    overflow: hidden;
    letter-spacing: 2px;
    color: #174151;
    font-family: "微软雅黑";
    width: 100%;
    padding: 9px 0;
    line-height: 30px;
}
.wp_gallery .wp_gallery_head h1 {text-align: center;padding: 0;}
.wp_gallery .wp_gallery_head h1 .wp_gallery_countIdx {
    margin-left: 0;
    color: #666666;
    font-size: 12px;
}
.wp_gallery .wp_gallery_head h1 .wp_gallery_index,em.wp_gallery_count {font-weight: normal;font-style: italic !important;}
.wp_gallery .wp_gallery_cont .wp_gallery_text{display:none;}
.zp-info.view {margin-top: 10px;}

.list .nb-r .news_list li.news .news_imgs {padding-top: 59%;background-color: #efefef;position: relative;overflow: hidden;}
.list .nb-r .news_list li.news .news_box {margin: 0;position: relative;}
.list .nb-r .news_list {margin: 0 -5px;}
.list .nb-r .news_list li.news {float: left;width: 47.5%;height: auto;padding-bottom: 20px;}
.list .nb-r .news_list li.news .news_imgs img {width: 100%;height: auto;position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;max-width: 100%;transition: all 0.4s ease-in-out;}


.post-12 .news-con ul li.news {background: url(../images/news_li.png) no-repeat left;padding-left: 8px;}
.footer .nw .copyright span {margin: 0 3px;}

.nw.top .en {float: right;position: absolute;top: 5px;right: 0;}
.nw.top .en a {color: #333;font-size: 14px;}
.english .nbody {margin-top: 0;}
.english .c-news {background: transparent;}
.english .nb-l h2 {font-size: 16px;}
.english .weixin_div div {width: 50px;margin-top: 20px;}
.english .weixin_div {width: 135px;right: 285px;}
.english .phone{width:160px;}

/*************************************************************
 * 特殊页面
 */
 /*滚动样式*/
.wrapperinner {position: relative;z-index: 1;width: 100%;overflow: hidden; -ms-touch-action: none;}
.scroller {position: absolute; z-index: 1; width: 750px; height: 160px;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-text-size-adjust: none;
   -moz-text-size-adjust: none;
   -ms-text-size-adjust: none;
   -o-text-size-adjust: none;
   text-size-adjust: none;
}
/*************************************************************
*二级页面
*/
/*组织机构*/
.inss .part_xy{}
.inss .part_xy .item{}
.inss .part_xy .item h3{line-height:40px;padding-left:0px;font-size: 16px;font-weight:normal;color: #1567B1;border-bottom:1px solid #cecece;}
.inss .part_xy .sub-box{float:left; width:100%;padding-top:0px;padding-bottom:5px;}
.inss .part_xy .sub-list{margin-right:0px;}
.inss .part_xy .sub-list .sub-item{float:left; width:33.3%;background: url(../images/icon_arrow2.png) no-repeat left center;}
.inss .part_xy .sub-list .sub-item a{line-height: 35px;padding-left:10px;font-size: 14px;}
.inss .part_xy .sub-img{display:none;float:right;margin-top:15px;margin-left:-250px; width:240px;min-height:80px;}
.inss .part_xy .item.i5 .sub-list .sub-item {width: 50%;}
/*角色*/
.role .part_xy{}
.role .part_xy .item{margin-bottom:10px;display:none;}
.role .part_xy .item.selected{display:block;}
.role .part_xy .item h3{display:none;line-height: 46px;padding-left:0px;font-size:20px;font-weight:bolder;color: #068358;border-bottom:1px solid #f1f1f1;background:none;}
.role .part_xy .sub-list{margin-top:15px;}
.role .part_xy .sub-list .sub-item{padding-top: 10px;padding-bottom: 5px;width:auto;border-bottom:1px solid #f1f1f1;word-wrap: break-word;word-break: normal;}
.role .part_xy .sub-list .sub-item a{line-height: 35px;font-size: 15px;white-space:nowrap;font-weight:bolder;/* color: #068358; */}
.role .part_xy .sub-list .sub-list{margin-top:10px;margin-left:40px;}
.role .part_xy .sub-list .sub-list .sub-item{padding-bottom:5px; padding-top:0px;float:left;margin-right: 50px;border-bottom:0px solid #f1f1f1;}
.role .part_xy .sub-list .sub-list .sub-item a{line-height: 35px;font-size: 15px;white-space:nowrap;font-weight:normal;/* color: #333; */}
.professor a:hover {
    color: #000;
}
.associate a:hover {
    color: #000;
}
.lecturer a:hover {
    color: #000;
}
.assistant a:hover {
    color: #000;
}
.laboratory a:hover {
    color: #000;
}