@charset "utf-8";
/* CSS Document */

body {
	background: url(../images/nbg.jpg) repeat center top;
}
a {
	color: #000000;
}
.nbody {
	margin-bottom: 20px;margin-top: -40px;
}
.nb-l {
	width: 250px;
	float: left;
	overflow: hidden;
	margin-right:-250px;
	position:relative;
}
.nb-l h2 {
	font-size: 14px;
	color: #2C3E50;
	padding-top: 15px;
	height: 25px;
	overflow: hidden;
}
.c-menu {
	border-top: #2C3E50 5px solid;
	border-bottom: #2C3E50 5px solid;
	background: #FFF;
}
.c-menu ul {
}
.c-menu ul li {
	height: 38px;
	line-height: 38px;
	color: #646464;
	border-bottom: #C8C8C8 1px solid;
}
.c-menu ul li a {
	color: #646464;
	font-family: "宋体";
	font-weight: bold;
	display: block;
	height: 38px;
	padding: 0 10px;
}
.c-menu ul li a.thisclass, .c-menu ul li a:hover {
	background: #FF6850;
	color: #FFFFFF;
}
.c-news-l {
}
.c-news-l li {
	position: relative;
	height: 120px;
	overflow: hidden;
	padding-bottom: 10px;
}
.c-news-l li img {
	width: 230px;
	height: 120px;
}
.c-news-l li div {
	height: 60px;
	position: absolute;
	left: 0;
	top: 60px;
	background: #000000;
	width: 100%;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}
.c-news-l li a.c-n-l-a {
	position: absolute;
	display: block;
	padding: 10px;
	height: 40px;
	width: 210px;
	line-height: 20px;
	font-family: "宋体";
	font-weight: bold;
	left: 0;
	top: 60px;
	color: #FFFFFF;
}
.c-n-ll {
}
.c-n-ll li {
	border-bottom: #C8C8C8 1px solid;
	padding: 15px 0;
	font-family: "宋体";
	line-height: 20px;
	color: #646464;
}
.c-n-ll li a {
	color: #2C3E50;
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding-bottom: 20px;
	line-height: 24px;
	font-family: "微软雅黑";
}
.nb-r {
	width: 100%;
	overflow: hidden;
}
.nb-r h2 {
	font-size: 18px;
	padding-top: 10px;
	height: 30px;
	overflow: hidden;
	letter-spacing: 2px;
}
.c-news {
	background: #FFFFFF;
	padding: 10px;
	margin-top: 10px;
}
.nb-r-con {
	border-top: #2C3E50 5px solid;
	border-bottom: #2C3E50 5px solid;
	background: #FFF;
	padding: 0 10px;
}
.nb-body {
	color: #646464;
	line-height: 24px;
	font-family: "宋体";
	padding-bottom: 40px;
}
.nb-body img {
	max-width: 690px;
_width:expression(this.width > 690 ? "690px" : this.width);
}
.nb-body h3 {
	font-size: 22px;
	font-family: "微软雅黑";
	font-weight: normal;
	padding: 20px 0px;
	line-height: 40px;
}
.t-list {
	padding: 35px;
}
.t-list ul {
	width: 110%;
}
.t-list ul li {
	width: 173px;
	height: 263px;
	float: left;
	overflow: hidden;
	padding-right: 53px;
}
.t-list ul li span {
	width: 173px;
	height: 170px;
	display: block;
	overflow: hidden;
	text-align: center;
	background: url(../images/spanbg.jpg) no-repeat left bottom;
}
.t-list ul li span img {
	height: 150px;
}
.t-list ul li a.slh {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-family: "宋体";
	text-align: center;
	color: #646464;
}
.t-list ul li a.slh:hover {
	font-weight: bold;
	color: #000;
}
/*.pages {
	padding: 10px;
	background: #FFFFFF;
	margin-top: 10px;
	overflow: hidden;
	height: 18px;
	text-align: center;
	position: relative;
	display: flex;flex-direction: row; justify-content: center;
}*/
/*.pages li{ }*/
.pages a {
	color: #000;
	font-weight: bold;
	padding: 0 5px;
	font-family: "宋体";
	font-size: 14px;
}
.pages a.thisone {
	color: #990000;
}
.pages a.pn-p {
	width: 18px;
	height: 18px;
	background: url(../images/pbg.jpg) no-repeat 0 0;
	display: block;
	position: absolute;
	left: 10px;
	top: 10px;
	padding: 0;
}
.pages a.pn-pn {
	background-position: 0 -18px;
}
.pages a.pn-n {
	width: 18px;
	height: 18px;
	background: url(../images/pbg.jpg) no-repeat -18px 0;
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 0;
}
.pages a.pn-nn {
	background-position: -18px -18px;
}
.tt-con {
	padding: 40px 20px;
	line-height: 24px;
	color: #646464;
	font-family: "宋体";
}
.tt-con img.tx {
	float: left;
	padding-right: 28px;
	width: 370px;
	padding-bottom: 10px;
}
.tt-con h3.tit {
	color: #2C3E50;
	font-size: 16px;
	font-family: "微软雅黑";
	padding-bottom: 10px;
}
.tt-list {
	width: 648px;
	height: 170px;
	border: #E0E0DF 1px solid;
	background: #F6F6F6;
	padding: 42px 0 18px 0;
	margin: 0 auto 20px;
	position: relative;
}
.tt-list div {
	width: 540px;
	height: 170px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.tt-list div ul {
	position: absolute;
	left: 0;
	top: 0;
	height: 170px;
	overflow: hidden;
}
.tt-list div ul li {
	width: 146px;
	height: 170px;
	padding: 0 17px;
	overflow: hidden;
	float: left;
	_display: inline
}
.tt-list div ul li span {
	width: 146px;
	height: 143px;
	overflow: hidden;
	display: block;
	text-align: center;
	background: url(../images/spanbg1.jpg) no-repeat left bottom;
}
.tt-list div ul li span img {
	height: 126px;
}
.tt-list div ul li a.slh {
	height: 26px;
	line-height: 26px;
	display: block;
	width: 100%;
	text-align: center;
	color: #646464;
	font-family: "宋体";
}
.tt-list div ul li a.slh:hover {
	color: #000000;
	font-weight: bold;
}
a.ttl-k {
	width: 13px;
	height: 24px;
	display: block;
	position: absolute;
	top: 104px;
	background: url(../images/jian.jpg) no-repeat 0 0;
}
a.ttk-l {
	left: 26px;
}
a.ttk-r {
	right: 26px;
	background-position: -13px 0;
}
.news-list {
	padding: 10px 0;
	color: #646464;
}
.news-list ul {
	width: 105%;
}
.news-list ul li {
	width: 340px;
	overflow: hidden;
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	height: 300px;
}
.news-list ul li span {
	width: 340px;
	height: 200px;
	padding-bottom: 10px;
	display: block;
	position: relative;
}
.news-list ul li span img {
	width: 340px;
	height: 200px;
}
.news-list ul li span b {
	width: 340px;
	height: 40px;
	background: #000;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}
.news-list ul li span a.slh {
	width: 320px;
	padding: 0 10px;
	font-family: "宋体";
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	font-size: 14px;
	position: absolute;
	left: 0;
	top: 0;
}
.news-list ul li p {
	font-family: "宋体";
	line-height: 20px;
	text-indent: 2em;
}
.himg1 {
	background-image: url(../images/10_1011184241.jpg);
}
.himg5 {
	background-image: url(../images/10_1011037055.jpg);
}
.himg6 {
	background-image: url(../images/10_1011039414.jpg);
}
.himg7 {
	background-image: url(../images/10_1011038543.jpg);
}
.himg8 {
	background-image: url(../images/10_1011038932.jpg);
}
.himg9 {
	background-image: url(../images/10_1011038001.jpg);
}
.himg10 {
	background-image: url(../images/10_1038394611.jpg);
}
.himg11 {
	background-image: url(../images/10_1038397292.jpg);
}
.arccon p {
	text-indent: 0em;
}
.arcsearch h3 a {
	font-size: 18px;
	color: #333333;
}
/*作品展示*/

.fenxiang {
	padding: 4px 0;
	line-height: 20px;
	background: #ECECEC;
	border: #999999 1px solid;
	margin-top: 10px;
}
.prenext {
	height: 20px;
	line-height: 20px;
	border-bottom: #CCC 1px dashed;
	border-top: #CCC 1px dashed;
	margin-top: 20px;
}
.prenext ul li {
	width: 49%;
	float: left;
	overflow: hidden;
	height: 20px;
	color: #767676;
}
.prenext ul li.p-next {
	float: right;
	text-align: right;
}
.line-n {
	height: 6px;
	overflow: hidden;
	border-bottom: #FFFFFF 1px dashed;
	width: 100%;
}
.pinlun {
	margin-top: 6px;
	background: #FFF;
	padding: 6px;
}
.zuopin-l {
	background: url(../images/zpbg.gif) repeat-y left top;
	box-shadow: #CCC 2px 2px 2px;
	padding-top: 8px;
	padding-left: 8px;
	overflow: hidden;
	position: relative;
}
.zuopin-l .nym-f {
	background-position: 9px 0;
	;
}
.zuop-l-c {
	width: 972px;
	overflow: hidden;
	background: #FFFFFF;
	min-height: 260px;
_height:expression(this.height < 260 ? "260px" : this.height);
}
ul.zp-list {
	padding-left: 10px;
}
ul.zp-list li {
	width: 170px;
	height: 190px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	background: #DFDFDF;
}
ul.zp-list li table {
	width: 170px;
	height: 170px;
}
ul.zp-list li table td {
	text-align: center;
	vertical-align: middle;
}
ul.zp-list li table td img {
	max-width: 166px;
	max-height: 166px;
_width:expression(this.width > 166 ? "166px" : this.width);
_height:expression(this.height > 166 ? "166px" : this.height);
}
a.z-tit {
	border-top: #FFF 2px solid;
	display: block;
	height: 18px;
	line-height: 18px;
	text-align: center;
	width: 160px;
	padding: 0 5px;
	color: #1D566C;
}
.zuop-l-c .pages {
	width: 900px;
}
.zuopin-l .zp-s-menu {
	width: 80px;
	position: absolute;
	right: 0;
	top: 16px;
}
.zuopin-l .zp-s-menu ul li {
	height: 36px;
	width: 100%;
	background: url(../images/jiant.gif) no-repeat right -36px;
}
.zuopin-l .zp-s-menu ul li a {
	width: 94%;
	font-size: 14px;
	letter-spacing: 2px;
	padding-left: 6%;
	height: 26px;
	line-height: 26px;
	display: block;
	background: #E3E3E3;
	color: #174151;
}
.zuopin-l .zp-s-menu ul li.thisclass {
	background-position: right 0;
}
.zuopin-l .zp-s-menu ul li.thisclass a {
	background: #174151;
	color: #FFF;
}
.zp-bpic {
	width: 100%;
	padding: 10px;
	overflow: hidden;
	min-height: 200px;
	text-align: center;
}
.zp-bpic img {
	max-width: 650px;
	max-height: 690px;
	cursor: pointer;
}
.zp-tit {
	line-height: 30px;
	font-size: 16px;
	color: #174151;
	font-family: "微软雅黑";
	width: 100%;
	padding: 9px 0;
	letter-spacing: 2px;
	text-align: center;
}
.zp-tit span {
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0;
	padding-left: 4px;
	color: #666666;
	font-style: italic;
}
.zp-tit span i {
	color: #FF0000;
}
.zp-info {
	width: 100%;
	text-align: center;
	height: 20px;
	color: #000;
	background: #ECECEC;
	line-height: 20px;
	border: #999999 1px solid;
}
.zuop-l-c .fenxiang {
	width: 100%;
	overflow: hidden;
	background: #CCC;
	border: #999999 1px solid;
	margin: 0 auto;
	margin-top: 10px;
}
.zp-list-l {
	width: 100%;
	height: 145px;
	overflow: hidden;
	padding-top: 10px;
	position: relative;
}
a.zplk {
	width: 20px;
	height: 145px;
	position: absolute;
	top: 0;
	display: block;
	background: #C7C8C8 url(../images/jjtt.jpg) no-repeat 0 center
}
a.zpll {
	left: 0;
}
a.zplr {
	right: 0;
	background-position: -20px center;
}
.zp-lp-l {
	width: 650px;
	margin: 0 auto;
	overflow: hidden;
	height: 145px;
	position: relative;
}
.zp-lp-l ul {
	width: 100%;
	height: 145px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
.zp-lp-l ul li {
	width: 155px;
	height: 145px;
	overflow: hidden;
	cursor: pointer;
	float: left;
}
.zp-lp-l ul li table {
	width: 145px;
	height: 145px;
	border: #999 1px solid;
	border-collapse: collapse;
	margin-left: 5px;
	background: #E6E6E6;
}
.zp-lp-l ul li.theo table {
	border-color: #FF0000;
}
.zp-lp-l ul li table td {
	text-align: center;
	vertical-align: middle;
}
.zp-lp-l ul li table td img {
	max-width: 139px;
	max-height: 139px;
_width:expression(this.width > 139 ? "139px" : this.width);
_height:expression(this.height > 139 ? "139px" : this.height);
}
.pinlun-zp {
	width: 100%;
	padding: 10px;
}
.weibo-inde {
	width: 120px;
	padding-top: 10px;
	margin: 0 auto;
	overflow: hidden;
	height: 40px;
}
.newlist ul.n-l li p.info {
	text-align: left;
}
.zp-jieshao {
	margin-top: 10px;
	background: #ECECEC;
	border: #999999 1px solid;
	padding: 10px;
	line-height: 20px;
	color: #000000;
}
.zp-jieshao h4 {
	font-size: 14px;
	line-height: 24px;
}
/*end*/
.bdshare a {
	color: #000000;
}
.tt-huan {
	padding: 10px 15px 30px 15px;
}
.tt-huan p.title{
    font-size: 18px;
    padding-top: 10px;
    height: 30px;
    overflow: hidden;
    letter-spacing: 2px;
    font-weight: 600;
}
.tt-huan ul li {
	width: 23%;
	float: left;
	overflow: hidden;
	padding-right: 0;
	height: 87.5px;
	background: #EFEFEF;
	margin-top: 10px;
	margin-right: 4px;
}
.tt-huan ul li span {
	background: none;
	width: 90px;
	overflow: hidden;
	float: left;
	height: 100px;
	text-align: left;
}
.tt-huan ul li span img {
	width: 70px;
	height: 87.5px;
}
.tt-huan ul li a.slh {
	width: 73px;
	float: right;
	overflow: hidden;
	text-align: left;
	padding-top: 20px;
	font-weight: bold
}
.news-list-hn {
	padding: 10px 0;
	color: #646464;
}
.news-list-hn ul {
}
.news-list-hn ul li {
	background: #E0E0E0;
	margin-top: 10px;
	width: 654px;
	height: auto;
	padding: 10px;
	position: relative;
	overflow: hidden;
}
.news-list-hn ul li img {
	display: block;
	width: 230px;
	height: auto;
	max-height: 230px;
	float: left;
	padding-right: 10px;
}
.news-list-hn ul li h2 {
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	padding-bottom: 10px;
	height: auto;
}
.news-list-hn ul li p {
	line-height: 20px;
	font-size: 12px;
	font-family: "宋体";
	color: #525252;
}
.news-list-hn ul li a.more-hw {
	position: absolute;
	right: 10px;
	bottom: 5px;
	color: #8B0000;
}
